:root {
    --그림자: 2px 2px gray;
}

@font-face {
    src: url("../assets/font/MSFont_TTF/Maplestory\ Light.ttf");
    font-family: "MSfont";
}

* {
    white-space: nowrap;
    font-family: "MSfont";
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

p {
    display: inline-block;
}

h2,
h3 {
    padding: 20px 0 20px 20px;
}

#SideArea {
    width: 38.5px;
    height: 100%;
    float: left;
    background-color: #0000c4;
    color: white;
    transition: all 0.75s;
}

#SideArea:hover {
    opacity: 1;
    width: 115px;
}

.SideFA {
    width: 100%;
    margin: 20px 10px 10px 10px;
}

.SideFA:hover {
    cursor: pointer;
}

#ContentsArea {
    overflow: hidden;
}

#Head-Container {
    height: 50px;
    background-color: #fff;
    box-shadow: var(--그림자);
}

#Search-Container {
    float: left;
}

.HeadFA {
    top: 3px;
    left: -25px;
    position: relative;
}

#SearchBTN {
    border-radius: 5px;
    width: 250px;
    height: 25px;
    border: solid 1px black;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 7.5px;
    transition: all 0.75s;
}

#SearchBTN:focus {
    width: 350px;
    opacity: 1;
}

#Utility-Container {
    float: right;
    color: gray;
    padding: 16px 20px 16px 0;
}

.Utility-NB {
    top: -8px;
    left: -7px;
    color: red;
    position: relative;
}

#DashboardContainer {
    margin: 10px 0 40px 0;
    display: grid;
}

#Dashboard-GridContainer {
    display: grid;
    margin: 0 20px 0 20px;
    grid-gap: 20px;
    grid-template-rows: 150px;
    grid-template-columns: repeat(4, 1fr);
}

.Dashboard-GridItem {
    border-left: solid 5px #A9D0F5;
    border-radius: 10px;
    box-shadow: var(--그림자);
    margin-top: 5px;
}

.Dashboard-Itemtitle {
    margin: 25px 0 20px 15px;
    font-size: 18px;
}

.Dashboard-Itemtext {
    margin: 10px 0 0 15px;
    font-size: 25px;
}

#ContentsContainer {
    display: grid;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

#ChartContainer {
    margin: 0 10px 0 20px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: var(--그림자);
}

#myChart {
    padding: 20px;
    width: 60vw;
    height: 30vh;
    margin: auto;
}

#TaskContainer {
    margin: 0 20px 0 10px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: var(--그림자);
    min-width: 350px;
}

.TaskText {
    padding: 15px 0 15px 20px;
    border-bottom: solid 1px gray;
}

.NumberReminder {
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    border: solid 1px black;
    padding: 0 10px 0 7.5px;
    background-color: #A9D0F5;
}

@media screen and (max-width: 768px) {
    #SideArea{
        height: 126.1vh;
    }

    #Dashboard-GridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 125px);
    }

    #DashboardContainer{
        margin-bottom: 15px;
    }

    #ContentsContainer {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #ChartContainer{
        margin-right: 20px;
    }

    #TaskContainer{
        margin: 15px 20px 10px;
        min-width: none;
    }
}